version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "daily"
    groups:
      serde:
        patterns:
          - "serde"
          - "serde_*"
      clap:
        patterns:
          - "clap"
          - "clap_*"