name: Clippy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  clippy_check:
    name: Run Clippy Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v2
        with:
          components: clippy
          profile: minimal
      - name: Run Clippy
        # -D warnings はすべての警告をエラーとして扱うためのオプションです
        run: cargo clippy --all-targets --all-features -- -D warnings
