on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Test

jobs:
  tests:
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
    name: Acceptance Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest
    env:
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          profile: minimal
      - name: Run tests
        run: cargo test --workspace --all-features --features mock-network
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  smoke-tests:
    name: Smoke Tests
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os:
          - ubuntu
          - macos
          - windows
    env:
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run smoke tests
        run: cargo test -p golta-cli --test smoke --features smoke-tests -- --test-threads 1

  shell-tests:
    name: Shell Script Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache BATS
        uses: actions/cache@v4
        with:
          path: /usr/local/lib/bats
          key: ${{ runner.os }}-bats-v1.11.0
      - name: Install BATS
        run: |
          if [ ! -d "/usr/local/lib/bats" ]; then
            git clone https://github.com/bats-core/bats-core.git /tmp/bats-core
            cd /tmp/bats-core
            ./install.sh /usr/local
          fi
      - name: Run shell tests
        run: bats dev/unix/tests/

  check-formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo fmt --all --quiet -- --check

  validate-installer-checksum:
    name: Validate installer checksum
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os:
          - ubuntu
          - windows
    steps:
      - uses: actions/checkout@v4
      - name: Validate checksum
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            Get-FileHash dev/unix/* | Format-List
          else
            cd dev/unix
            sha256sum --check SHASUMS256.txt
          fi
